.formRegister {
    padding: 70px;
    background: #ffffff;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 0%;
    width: 80%;
}

.btn{
    width: auto !important;
    border-radius: 2px; 
}

.btn-create{
    margin-left: 90%; 
    margin-top: -10%;
}